body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://kartinkin.net/uploads/posts/2021-01/1610824560_12-p-krasivii-sinii-odnotonnii-fon-14.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-contact form {
  width: 250px;
  margin: 0 auto;
}
.contact-list h2 {
  text-align: center;
  margin-top: 50px;
}
/* .card-image {
  object-fit: contain;
  height: 300px;
} */
.contact-list {
  object-fit: contain;
  height: 200px;
}
.contact-list img {
  width: 300px;
}
